<a href="https://colab.research.google.com/github/murur/pythonbasic-1month-/blob/main/pythonday3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 62p 표준입력
# input() 함수는 키보드로 입력을 받을때 사용된다.

n = input()
print(f'당신이 입력한 수는 {n}입니다.')

454252
당신이 입력한 수는 454252입니다.

In [ ]:
name = input("이름을 입력하세요 >>>")
age = input("나이를 입력하세요 >>>")

print(f'입력된 이름은 {name}이고 나이는 {age}입니다.')

이름을 입력하세요 >>>lure
나이를 입력하세요 >>>23
입력된 이름은 lure이고 나이는 23입니다.

In [ ]:
# 좋아하는 과일은?
# 당신이 좋아하는 과일은 ... 입니다

fruit = input("과일을 입력하세요 >>>")
print(f'당신이 좋아하는 과일은 {fruit}입니다.')

과일을 입력하세요 >>>수박
당신이 좋아하는 과일은 수박입니다.

In [ ]:
n = input("정수를 입력하세요 >>>")
print(type(n))

정수를 입력하세요 >>>9
<class 'str'>

In [ ]:
price = 5000
n = input('할부 개월 입력 >>>')
print(f'매달 내는 돈은 {price / n}원 입니다.')

할부 개월 입력 >>>12

TypeError: ignored

In [ ]:
price = 5000
n = int(input('할부 개월 입력 >>>'))
print(f'매달 내는 돈은 {price / n}원 입니다.')

할부 개월 입력 >>>１２
매달 내는 돈은 416.6666666666667원 입니다.

In [28]:
a = float(input('첫 번째 실수를 입력하세요 >>>'))
b = float(input('두 번째 실수를 입력하세요 >>>'))

print(f'{a}와 {b}의 합은 {a+b}입니다.')

첫 번째 실수를 입력하세요 >>>1.3
두 번째 실수를 입력하세요 >>>2.3
1.3와 2.3의 합은 3.5999999999999996입니다.

In [29]:
month = [31,28,31,30,31,30,31,31,30,31,30,31]

ask = int(input('1~12월 사이의 월을 입력하세요 >>>'))

print(f'{ask}월은{month[ask-1]}일 까지 있습니다.')

1~12월 사이의 월을 입력하세요 >>>3
3월은31일 까지 있습니다.

In [36]:
english_dict = {
    'flower':'꽃',
    'fly':'날다',
    'floor':'바닥'
}
english = input('영어 단어를 입력하세요 >>>')
print(f'{english}:{english_dict[english]}')

영어 단어를 입력하세요 >>>flower
flower:꽃

In [35]:
s = set()

hope = input('희망하는 수학 여행지를 입력하세요 >>>')
s.add(hope)
hope = input('희망하는 수학 여행지를 입력하세요 >>>')
s.add(hope)
hope = input('희망하는 수학 여행지를 입력하세요 >>>')
s.add(hope)

print(f'조사된 수학 여행지는 {s}입니다.')

희망하는 수학 여행지를 입력하세요 >>>제주
희망하는 수학 여행지를 입력하세요 >>>제주
희망하는 수학 여행지를 입력하세요 >>>경주
조사된 수학 여행지는 {'제주', '경주'}입니다.

In [39]:
a=7
b=2
print("{}+{}={}".format(a,b,a+b))
print("{}-{}={}".format(a,b,a-b))
print("{}*{}={}".format(a,b,a*b))
print("{}**{}={}".format(a,b,a**b))
print("{}/{}={}".format(a,b,a/b))
print("{}//{}={}".format(a,b,a//b))
print("{}%{}={}".format(a,b,a%b))

7+2=9
7-2=5
7*2=14
7**2=49
7/2=3.5
7//2=3
7%2=1

In [40]:
# 대입 연산자

a = 1
b = 2

a, b = 1, 2

print(f'a = {a}, b = {b}')

# 두 변수의 값 교환(다른 언어)
t = a
a = b
b = t
print(f'a = {a}, b = {b}')

# 두 변수의 값 교환(파이썬)
a, b = b, a
print(f'a = {a}, b = {b}')

a = 1, b = 2
a = 2, b = 1
a = 1, b = 2

In [41]:
# 복합 대입 연산자

a = 1
print(a)
a = a + 1
print(a)
a += 1
print(a)

a -= 1  # a = a - 1
print(a)

1
2
3
2

In [42]:
a, b = 10, 20
print(f'a = {a}, b = {b}')

a, b = b, a  # 다른 언어에는 없는 파이썬 스러원 표현

a = 10, b = 20

In [54]:
piggy_bank = 0

money = 10000
piggy_bank += money
print(f'저금통에 용돈{money}원을 넣었습니다.')
print(f'지금 저금통에는 {piggy_bank}원이 있습니다.')

snack = 2000
piggy_bank -= snack
print(f'저금통에서 스낵 구입비 {snack}원을 뺐습니다.')
print(f'지금 저금통에는 {piggy_bank}원이 있습니다.')

저금통에 용돈10000원을 넣었습니다.
지금 저금통에는 10000원이 있습니다.
저금통에서 스낵 구입비 2000원을 뺐습니다.
지금 저금통에는 8000원이 있습니다.

In [57]:
# p 81

[+ [2,4,61,3,5] ]

TypeError: ignored

In [58]:
'hello'+' '+'python'

'hello python'

In [59]:
[1,3,5] * 2

[1, 3, 5, 1, 3, 5]

In [60]:
'*' * 5

'*****'

In [61]:
'-' * 30

'------------------------------'

In [62]:
# 멤버쉽 연산자
# 어떤 값이 지정된 컬렉션에 (리스트, 문자열, 딕셔너리) 속해 있는지
# 여부를 판단하여 속해있으면 True 아니면 False로 반환

5 in [ 1,2,3,4,5]

True

In [63]:
'n' in 'apple'

False

In [64]:
5 not in [1,2,3,4,5]

False

In [65]:
# 삼항 연산자

# 참 if       조건식      else 거짓

1 if 1 < 2 else 2

1

In [72]:
no = input('10~99사이의 정수를 입력하시오 >>>')

print(f'십의 자리:{no[0]}')
print(f'일의 자리:{no[1]}')

10~99사이의 정수를 입력하시오 >>>34
십의 자리:3
일의 자리:4

In [79]:
no = int(input('10~99사이의 정수를 입력하시오 >>>'))

print(f'십의 자리:{no//10}')
print(f'일의 자리:{no%10}')

10~99사이의 정수를 입력하시오 >>>23
십의 자리:2
일의 자리:3

In [88]:
second = int(input('초를 입력하세요 >>>'))

print(f'변환 결과는 {second//3600}시간 {(second%3600)//60}분 {second%60}초입니다')

초를 입력하세요 >>>3690
변환 결과는 1시간 1분 30초입니다

In [101]:
no = int(input('4자리 사원번호를 입력하세요 >>>'))
no_last = no % 10
is_am = no_last >= 5

print(f'근무 시간은 {("오전" if is_am else "오후")}입니다')

4자리 사원번호를 입력하세요 >>>1235
근무 시간은 오전입니다