<a href="https://colab.research.google.com/github/murur/pythonbasic-1month-/blob/main/pythonday5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
# p116 for문


for n in [1,2,3]:
  print(n)

1
2
3

In [40]:
n = 1
while n in [1,2,3]:
  print(n)
  n += 1

1
2
3

In [42]:
# 반복 가능 객체 (컬렉션)
# 시퀀스 자료형 - 문자열 리스트 튜플 range
# 비시퀀스 자료형 - 셋, 딕셔너리 (순서가 없다. )

for ch in 'Hello':
  print(ch)

H
e
l
l
o

In [43]:
# for 문과 list
for item in ['가위','바위','보']:
  print(item)

가위
바위
보

In [3]:
for season in ('spring','summer','autumn','winter'):
  print(season)

spring
summer
autumn
winter

In [6]:
# for문과 range()


# range(5) # 0부터 5미만까지 즉 0부터 4까지
# range(2,10) # 2부터 10미만까지 즉 2부터 9 까지

range(2,10)

range(2, 10)

In [8]:
print(list(range(2,10)))

[2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
for n in (1,2,3,4,5,6,7,8,9,10):
 print(n)

1
2
3
4
5
6
7
8
9
10

In [17]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [19]:
#for 문과 set #set은 순서가 따로 없다
for item in {'가위','바위','보'}:
  print(item)

바위
보
가위

In [23]:
#for 문과 딕셔너리

person = {
    'name':'에밀리',
    'age':20
}

for item in person:
  print(item, person[item])

name 에밀리
age 20

In [28]:
# 01

for n in range(1,6):
  print(n)

1
2
3
4
5

In [46]:
# 03

num = int(input('임의의 양수를 입력하세요 >>>'))

sum = 0
for n in range(1,num+1):
  sum += n

print(f'1부터 {num}사이 모든 정수의 합계는{sum}입니다.')

임의의 양수를 입력하세요 >>>5
1부터 5사이 모든 정수의 합계는15입니다.

In [38]:
# 04

no = int(input(f'몇 개의 과일을 보관할까요? >>>'))

basket = []

for n in range(no):
  fruit = input(f'{n+1}번째 과일을 입력하세요 >>>')
  basket.append(fruit)

print(f'입력받은 과일들은 {basket}입니다')

몇 개의 과일을 보관할까요? >>>5
1번째 과일을 입력하세요 >>>사과
2번째 과일을 입력하세요 >>>바나나
3번째 과일을 입력하세요 >>>체리
4번째 과일을 입력하세요 >>>오렌지
5번째 과일을 입력하세요 >>>망고
입력받은 과일들은 ['사과', '바나나', '체리', '오렌지', '망고']입니다

In [50]:
# p 134   break

n = 1
while n <= 10:
  print(n)

  n += 1

1
2
3
4
5
6
7
8
9
10

In [54]:
n = 1
while True:
  print(n)
  if n == 10:
    break
  n +=1

1
2
3
4
5
6
7
8
9
10

In [57]:
# 158p continue

total = 0;
for a in range(1,101):
  if a % 3 ==0:
    continue
  total += a

print(total)

3367

In [61]:
coin = 10000

while True:
  print(f'현재 {coin}원이 있습니다.')

  if coin == 0:
    break

  pay = int(input('사용할 금액 입력 >>>'))

  if pay <= 0:
    print('0 이하의 금액은 사용할수 없습니다.')
  elif pay > coin:
    print(f'{pay - coin}원이 부족합니다')
  else:
    coin -= pay

현재 10000원이 있습니다.
사용할 금액 입력 >>>5000
현재 5000원이 있습니다.
사용할 금액 입력 >>>-5000
0 이하의 금액은 사용할수 없습니다.
현재 5000원이 있습니다.
사용할 금액 입력 >>>6000
1000원이 부족합니다
현재 5000원이 있습니다.
사용할 금액 입력 >>>4000
현재 1000원이 있습니다.
사용할 금액 입력 >>>1000
현재 0원이 있습니다.

In [67]:
while True:
  score = int(input('이번 영화의 평점을 입력하세요 >>>'))

  if score > 5 or score <= 0:
    print('평점은 1~5 사이만 입력할 수 있습니다.')
  else:
    print('평점:', '★'*score)
    break

이번 영화의 평점을 입력하세요 >>>10
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요 >>>-2
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요 >>>5
평점: ★★★★★

In [69]:
answer = 'qwerty'

no = 1

while True:
  pw = input('비밀번호를 입력하세요 >>>')

  if answer == pw:
    print('비밀번호를 맞췄습니다.')
    break
  
  if no == 5:
    print('비밀번호 입력 횟수를 초과했습니다.')
    break
    
  no += 1

비밀번호를 입력하세요 >>>23123
비밀번호를 입력하세요 >>>213213213
비밀번호를 입력하세요 >>>21321
비밀번호를 입력하세요 >>>32121
비밀번호를 입력하세요 >>>2132321
비밀번호 입력 횟수를 초과했습니다.

In [81]:
for i in range(2,10):
  if i % 2 == 0:
    continue
  for l in range(1,10):
    if l > i:
      break
    print(f'{i} * {l} = {i*l}')
  print()

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [82]:
# 146 내장함수


for item in enumerate(['가위','바위','보']):
  print(item)

(0, '가위')
(1, '바위')
(2, '보')

In [86]:
for idx, item in enumerate(['가위','바위','보']):
  print(idx + 1, item)

1 가위
2 바위
3 보

In [87]:
# zip()

names = ['james','emily','amanda']
scores = [60,70,80]

for student in zip(names,scores):
  print(student)

('james', 60)
('emily', 70)
('amanda', 80)

In [88]:
names = ['james','emily','amanda']
scores = [60,70,80]

for name, score in zip(names,scores):
  print(f'{name}의 점수는 {score}점입니다.')

james의 점수는 60점입니다.
emily의 점수는 70점입니다.
amanda의 점수는 80점입니다.

In [89]:
# p184 사용자 함수 

# def 함수명(변수) :
#   본문
#   return 결과

In [90]:
# 1 인수 없고 반환 없는 사용자 정의 함수
# 2 인수 있고 반환 없는 사용자 정의 함수
# 3 인수 없고 반환 있는 사용자 정의 함수
# 4 인수 있고 반환 있는 사용자 정의 함수

In [92]:
# 1 인수 없고 반환 없는 사용자 정의 함수

def welcome():
  print('Hello World')


welcome()

Hello Austin

In [93]:
# 2 인수 있고 반환 없는 사용자 정의 함수

def welcome(name):
  print('Hello', name)


welcome('Austin')

Hello Austin

In [94]:
# 3 인수 없고 반환 있는 사용자 정의 함수
def welcome():
  return 1

welcome()

1

In [95]:
# 4 인수 있고 반환 있는 사용자 정의 함수

def add(a,b):
  return a+b

add(3,4)

7

In [96]:
def introduce(name,age):
  print(f'내이름은 {name}이고, 나이는 {age}살입니다.')

introduce('james', 25)

내이름은 james이고, 나이는 25살입니다.

In [99]:
# 가변 매개변수

def add2(a,b):
  return a+b

def add3(a,b,c):
  return a+b+c

add2(3,4)




def add(*args):
  sum = 0
  for item in args:
    sum += item
  print(sum)


add(1,2,3,4,5,6,7,8,9)

45

In [100]:
# 디폴트 매개변수
def greet(message='안녕하세요'):
  print(message)

greet()

안녕하세요

In [101]:
greet('방가방가')

방가방가